.hero-area-2 {
    color: #fff;
    overflow: hidden;
    position: relative
}

.hero-area-2 .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #3c96ff, #2dfbff);
}

.hero-area-2 .contents {
    padding: 160px 0 140px
}

.hero-area-2 .contents h2 {
    color: #fff;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.hero-area-2 .contents h5 {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.hero-area-2 .contents p {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.hero-area-2 .contents .btn {
    margin-top: 40px;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.hero-area-2 .contents .btn-border {
    border: 2px solid #fff;
    color: #fff
}

.hero-area-2 .intro-img {
    padding: 180px 0 0
}

.hero-area-2 .intro-img img {
    display: block;
    height: auto;
    max-width: 100%
}

.topic {
    padding: 50px 100px;
    li {
        list-style: circle;
        margin: 15px;
        letter-spacing: 1px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    }
}

.section-header {
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.section-header .section-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: poppins, sans-serif;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: #2dfbff;
    background-image: linear-gradient(to right, #3c96ff, #2dfbff);
    position: relative;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.btn-subtitle {
    color: #191c1e;
    font-family: poppins, sans-serif;
    background: #dbecff;
    text-align: center;
    border-radius: 30px;
    padding: 6px 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px
}