.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 30px;
    font-family: poppins, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: inline-block
}

.btn-subtitle {
    color: #191c1e;
    font-family: poppins, sans-serif;
    background: #dbecff;
    text-align: center;
    border-radius: 30px;
    padding: 6px 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none
}

.btn-common {
    background-image: linear-gradient(to right, #3c96ff, #2dfbff);
    position: relative;
    z-index: 1
}

.btn-common:hover {
    color: #fff;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, .17)
}

.btn-effect {
    overflow: hidden
}

.btn-effect:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}

.btn-effect:hover:after {
    width: 100%
}

.btn-border {
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    background-color: transparent;
    border-color: #3c9cfd;
    color: #3c9cfd
}

.btn-border:hover {
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, .17)
}

.btn-border-filled {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #fff;
    color: #3c9cfd
}

.btn-border-filled:hover {
    color: #3c9cfd;
    background-color: #fff;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, .17)
}

.btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px
}

.btn-rm {
    color: #3c9cfd;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 16px
}

.btn-rm i {
    vertical-align: middle
}

.btn-trial {
    background: #fff;
    color: #191c1e;
    padding: 5px 20px;
    margin-left: 30px
}

.btn-trial:hover,
.btn-trial:active,
.btn-trial:focus {
    color: #3c9cfd
}

.btn-apple {
    border-width: 2px;
    border-color: #3c96ff;
    border-style: solid;
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.btn-apple i {
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.btn-apple:hover,
.btn-apple:active,
.btn-apple:focus {
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important
}

button:focus {
    outline: none!important
}

.btn-border-fill {
    background: #fff;
    border-color: #fff;
    color: #3c9cfd
}

.clear {
    clear: both
}

.mt {
    margin-top: 80px
}

.mt-30 {
    margin-top: 30px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-50 {
    margin-bottom: 50px
}

.padding-0 {
    padding: 0
}

#features-two .img-thumb {
    margin-bottom: 15px
}

.section {
    padding: 70px 0 25px
}

.section-header {
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
    position: relative
}

.section-header .section-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: poppins, sans-serif;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-color: #2dfbff;
    background-image: linear-gradient(to right, #3c96ff, #2dfbff);
    position: relative
}

.text-wrapper {
    height: 100%;
    width: 100%;
    display: table
}

.text-wrapper>div {
    vertical-align: middle;
    display: table-cell
}

.text-wrapper h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px
}

.text-wrapper .btn-rm {
    margin-top: 15px
}

#testimonial {
    background: #f6fbfd;
}

.testimonial-item {
    padding: 30px;
    margin: 15px 15px 50px 15px;
    background: #fff;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 16px #ececec
}

.testimonial-item .author {
    display: inline-block;
    margin-bottom: 20px
}

.testimonial-item .author .img-thumb {
    float: left;
    overflow: hidden;
    position: relative
}

.testimonial-item .author .img-thumb img {
    border-radius: 50%;
    width: 75%
}

.testimonial-item .content-inner {
    overflow: hidden
}

.testimonial-item .content-inner .description {
    width: 100%;
    margin-bottom: 10px;
    font-style: italic;
}

.testimonial-item .content-inner span {
    color: #a0a6ad
}

.testimonial-item .content-inner .author-info {
    padding: 3px 0
}

.testimonial-item .content-inner .author-info h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0
}

.testimonial-item .content-inner .author-info h2 a {
    color: #484848
}

.testimonial-item .content-inner .author-info h2 a:hover {
    color: #3c9cfd
}

.carousel-indicators {
    .active {
        background-color: #3c96ff!important;
    }
    li {
        background-color: #2dfbff!important;
    }
}

.carousel-inner {
    min-height: 375px;
}

.carousel-control-prev {
    left: -100px!important;
    i {
        color: #3c96ff;
        font-size: 30px;
    }
}

.carousel-control-next {
    right: -100px!important;
    i {
        color: #3c96ff;
        font-size: 30px;
    }
}